<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @photo.filename %>
</p>

<p>
  <strong>Taken at:</strong>
  <%= @photo.taken_at %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
